@import "tailwindcss";

:root {
  --background: #ededed;
  --foreground: #0a0a0a;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  h1 {
    @apply text-2xl md:text-3xl font-bold;
  }

  h2 {
    @apply text-xl md:text-2xl font-semibold;
  }

  p {
    @apply text-base md:text-lg;
  }
}